<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body class="align-items-center" style="width: 100%">
<h1 class="d-flex justify-content-center">HOME</h1>
<div class="p-3 d-flex flex-column justify-self-center align-items-center">
    <a style="margin: 0.5rem" href="/hotel"><button type="button" class="btn btn-primary btn-lg">Hotel</button></a>
    <a style="margin: 0.5rem" href="/vendor"><button type="button" class="btn btn-primary btn-lg">Vendor</button></a>


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>