<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Key Activate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/hotel">Hotel Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hotel/user">User Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hotel/lockinstall">Lock Install</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/hotel/roomallocate">Allocate Room</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<form class="p-3 d-flex flex-column justify-self-center align-items-center">
    <h4 class="d-flex justify-content-center">ROOM ALLOCATION</h4>
    <div class="w-50 mb-3">
        <label for="uid" class="form-label">USER ID</label>
        <input type="name" class="form-control" id="uid">
    </div>
    <label class="form-label">VALIDITY</label>
    <div class="w-50 d-flex mb-3">
        <input type="date" class="form-control" style="margin-right: 0.2rem" id="start">
        <input type="date" class="form-control" style="margin-left: 0.2rem" id="end">
    </div>
    <div class="dropdown w-50 d-flex align-items-center justify-self-center" style="margin: 1.5rem">
        <button class="w-100 d-flex justify-content-center align-items-center btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Room No.
        </button>
        <ul class="w-100 align-items-center justify-items-center dropdown-menu dropdown-menu-dark">
            <li align="center"><a class="dropdown-item" href="#">Room-101 (Device_ID : R-260)</a></li>
            <li align="center"><a class="dropdown-item" href="#">Room-102 (Device_ID : R-405)</a></li>
            <li align="center"><a class="dropdown-item" href="#">Room-103 (Device_ID : R-365)</a></li>
            <li align="center"><a class="dropdown-item" href="#">Room-104 (Device_ID : R-109)</a></li>
            <li align="center"><a class="dropdown-item" href="#">Room-105 (Device_ID : R-220)</a></li>
        </ul>
    </div>
    <button style="margin-top: 10rem" type="submit" class="w-10 btn btn-primary">Submit</button>
</form>

<table style="margin-top: 2rem" align="center" class="w-75 justify-self-center table table-striped">
    <thead>
    <tr>
        <th scope="col">User</th>
        <th scope="col">Room No.</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Harry Potter</td>
        <td>R-101</td>
        <td>16/09/23</td>
        <td>18/09/23</td>
    </tr>
    <tr>
        <td>Hermione Granger</td>
        <td>R-104</td>
        <td>17/09/23</td>
        <td>21/09/23</td>
    </tr>
    <tr>
        <td>Ronald Weasley</td>
        <td>R-103</td>
        <td>17/09/23</td>
        <td>21/09/23</td>
    </tr>
    <tr>
        <td>Neville Longbottom</td>
        <td>R-105</td>
        <td>15/09/23</td>
        <td>16/09/23</td>
    </tr>
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>